@model DevLunch.ViewModels.LunchDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lunch</h2>

<h5>@Html.DisplayFor(model => model.Host)</h5>
<h5>@Html.DisplayFor(model => model.MeetingTime)</h5>

<div>

    <hr />
    <div class="container-fluid">
        <div class="row">
            @foreach (var restaurant in Model.Restaurants)
            {
                String lunchRestaurantId = $"vote-count-for-lunch-{Model.Id}-restaurant-{restaurant.Id}";

                <div id=@lunchRestaurantId class="col-sm-1">
                    @Model.Votes.Where(v => v.Restaurant.Id == restaurant.Id).Sum(v => v.Value)
                </div>

                <div class="col-sm-2">
                    @Ajax.ActionLink(HttpUtility.HtmlDecode("&#9650;"), "Upvote", new { restaurantId = restaurant.Id, lunchId = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnComplete = "UpdateVoteTotals"
                    },
                    new { @class = "btn btn-success btn-sm" })

                    @Ajax.ActionLink(HttpUtility.HtmlDecode("&#9660;"), "Downvote", new { restaurantId = restaurant.Id, lunchId = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnComplete = "UpdateVoteTotals"
                    },
                    new { @class = "btn btn-danger btn-sm" })
                </div>

                <div class="col-sm-9">
                    @restaurant.Name
                </div>

                <br><br>
            }
        </div>
    </div>
</div>

<br/>

<p>
    @* todo: only allow editing by the lunch creator *@
    @* todo (feature): add write-in restaurant candidates *@
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    function UpdateVoteTotals(voteViewModel) {
        //alert(JSON.stringify(oldLunchRestaurantId));
        var newVoteRestaurantId = voteViewModel.responseJSON.NewLunchRestaurantId;
        var newRestaurantVoteValue = voteViewModel.responseJSON.NewLunchRestaurantVoteTotal;;
        var oldVoteRestaurantId = voteViewModel.responseJSON.OldLunchRestaurantId || "null";
        var oldRestaurantVoteValue = voteViewModel.responseJSON.OldLunchRestaurantVoteTotal;

        var newLunchRestaurantSpanId = '#@($"vote-count-for-lunch-{Model.Id}-restaurant-")' + newVoteRestaurantId;
        var oldLunchRestaurantSpanId = '#@($"vote-count-for-lunch-{Model.Id}-restaurant-")' + oldVoteRestaurantId;

        $(newLunchRestaurantSpanId).html(newRestaurantVoteValue);
        $(oldLunchRestaurantSpanId).html(oldRestaurantVoteValue);
    }
</script>
