@model DevLunch.ViewModels.LunchDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Host)</dt>

        <dd>@Html.DisplayFor(model => model.Host)</dd>

        <dt>@Html.DisplayNameFor(model => model.MeetingTime)</dt>

        <dd>@Html.DisplayFor(model => model.MeetingTime)</dd>

        <dt>Restaurants</dt>
        @foreach (var restaurant in Model.Restaurants)
        {
            <dd>
                <span id=@($"vote-count-for-lunch-{Model.Id}-restaurant-{restaurant.Id}")>@Model.Votes.Where(v => v.Restaurant.Id == restaurant.Id).Sum(v => v.Value)</span>
                
                @Ajax.ActionLink("Upvote", "Upvote", new {restaurantId = restaurant.Id, lunchId = Model.Id}, 
                    new AjaxOptions {HttpMethod = "POST", UpdateTargetId = $"vote-count-for-lunch-{Model.Id}-restaurant-{restaurant.Id}", InsertionMode = InsertionMode.Replace}, 
                    new {@class = "btn btn-success btn-sm"})

                @Ajax.ActionLink("Downvote", "Downvote", new {restaurantId = restaurant.Id, lunchId = Model.Id},
                    new AjaxOptions {HttpMethod = "POST", UpdateTargetId = $"vote-count-for-lunch-{Model.Id}-restaurant-{restaurant.Id}", InsertionMode = InsertionMode.Replace},
                    new {@class = "btn btn-danger btn-sm"})
                
                @restaurant.Name
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
