@model DevLunch.ViewModels.LunchDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Host)</dt>

        <dd>@Html.DisplayFor(model => model.Host)</dd>

        <dt>@Html.DisplayNameFor(model => model.MeetingTime)</dt>

        <dd>@Html.DisplayFor(model => model.MeetingTime)</dd>

        <dt>Restaurants</dt>
        @foreach (var restaurant in Model.Restaurants)
        {
            String lunchRestaurantId = $"vote-count-for-lunch-{Model.Id}-restaurant-{restaurant.Id}";
            <dd>
                <span id=@lunchRestaurantId>@Model.Votes.Where(v => v.Restaurant.Id == restaurant.Id).Sum(v => v.Value)</span>
                
                @Ajax.ActionLink("Upvote", "Upvote", new {restaurantId = restaurant.Id, lunchId = Model.Id},
                    new AjaxOptions {HttpMethod = "POST",
                        OnComplete = "Complete",
                        //UpdateTargetId = $"{lunchRestaurantId}",
                        InsertionMode = InsertionMode.Replace},
                    new {@class = "btn btn-success btn-sm"})

                <script type="text/javascript">
                    function Complete(voteData) {
                        //var JsonObj = $.parseJSON(data.responseText);

                        // receive object from controller
                        var newVoteRestaurantId    = voteData.responseJSON.newLunchRestaurantId;
                        var newRestaurantVoteValue = voteData.responseJSON.newLunchRestaurantVotetotal;
                        var oldVoteRestaurantId    = voteData.responseJSON.oldLunchRestaurantId;
                        var oldRestaurantVoteValue = voteData.responseJSON.oldLunchRestaurantVoteTotal;

                        // transform (lunch, restaurant) pairs into IDs on spans whose HTML you'll update
                        var oldLunchRestaurantId = '#@($"vote-count-for-lunch-{Model.Id}-restaurant-")' + oldVoteRestaurantId;
                        alert(JSON.stringify(oldLunchRestaurantId));

                        $('#@($"{lunchRestaurantId}")').html(newRestaurantVoteValue);
                        $(oldLunchRestaurantId).html(oldRestaurantVoteValue);
                    }
                </script>

                @Ajax.ActionLink("Downvote", "Downvote", new {restaurantId = restaurant.Id, lunchId = Model.Id},
                    new AjaxOptions {HttpMethod = "POST", UpdateTargetId = $"{lunchRestaurantId}", InsertionMode = InsertionMode.Replace},
                    new {@class = "btn btn-danger btn-sm"})
                
                @restaurant.Name
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


